* {
	box-sizing: border-box;
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;

	&__header {
		position: fixed;
		z-index: 1000;

		width: 100vw;

		background-color: var(--c-bg_dark);
	}

	&__main {
		flex: 1 1 auto;
	}

	&__footer {}

}