.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 35px 15px;

	&__item {
		min-height: 522px;
		max-width: 312px;

		border: 1px solid var(--c-accent);
	}
}