.basket-list {
	display: flex;
	flex-direction: column;

	&__item {
		display: flex;
		padding: 15px;

		border-radius: 5px;
		transition: var(--t-animation) linear;

		&:hover {
			transform: scale(1.03);
			box-shadow: 0 0 15px var(--c-bg_light);
			background-color: var(--c-bg_light) !important;
		}

		&:nth-child(even) {
			background-color: #23212395;
		}
	}
}