.to-pay {
	display: flex;
	gap: 10px;
	align-items: flex-end;

	&_orange {
		color: var(--c-accent);
	}

	&_middle &__sum {
		font-size: 18px;
	}

	&__sum {
		font-size: 21px;
		font-weight: 500;
	}

	&__currency {}
}