.basket {
	display: flex;
	gap: 20px;
	padding: 5px 15px;

	border-radius: 30px;
	cursor: pointer;
	transition: var(--t-animation) linear;

	&:active {
		opacity: .3;
	}

	&:hover {
		box-shadow: 0 0 10px var(--c-accent);
		background-color: var(--c-accent);
	}

	&::after {
		content: url('../../../../public/img/basket.svg');
	}

	&__inner {
		text-align: right;
	}

	&__product {}

	&__sum {
		display: flex;
		gap: 10px;
	}
}